    <!-- Section -->



    <section id="schedule" class="container content-section text-center">
      <div class="table">
        <h2>Schedule</h2>
        <p></p>
      <table class="table-bordered">
        <thead align="center">
      <tr align="center">
        <th align="center">Time</th>
        <th align="center">Sunday</th>
        <th align="center">Monday</th>
        <th align="center">Tuesday</th>
        <th align="center">Wednesday</th>
        <th align="center">Thursday</th>
        <th align="center">Friday</th>
        <th align="center">Saturday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Morning</td>
        <td></td>
        <td>
          9 AM: Welcome and introductions <br>
          10 AM: Introduction to Data Science (Fernando Perez)<br>
          11 AM: Data Science tools (tutorials)
        </td>
        <td>9 AM: Using cloud computing for neuroimaging (Cameron Craddock)<br>
            11 AM: Open data sets (Cameron Craddock)</td>
        <td>
          9 AM: <a href="https://neurohackweek.github.io/image-processing/">Image processing</a> (Ariel Rokem)<br>
          11 AM: Quantitative and diffusion MRI modeling of developmental data (Jason Yeatman)
        </td>
        <td> 9 AM: Modeling fMRI data (Kendrick Kay) <br>
            10 AM: Machine learning with scikit-learn (Jake Vanderplas)</td>
        <td>9 AM: Towards transparent, reproducible neuroimaging research (Russ Poldrack)<br>
          10 AM: Reproducible research pipelines (Chris Gorgolewski and Satra Ghosh)</td>
        <td>Check out and departure</td>
      </tr>
      <tr>
        <td>Afternoon</td>
        <td></td>
        <td> Data science tools <br>
          <a href="https://neurohackweek.github.io/advancedunix/">
            Advanced Unix and Make</a><br>
          <a href="https://neurohackweek.github.io/cython-tutorial">
            Cython</a><br>

        </td>
        <td> 1 PM: Team project pitches <br>
            2 PM - 6 PM Team projects <br>
            4 PM: Breakout session: Data-sets from the Allen Institute for Brain Science (Terri Gilbert)</td>
        <td>1 PM - 6 PM: Team projects <br>
          4 PM: Breakout session: Advanced time-series analysis (Bing Brunton)
        </td>
        <td>1 PM - 6 PM: Team projects <br>
            4 PM: Breakout session: Using GNU Make for reproducible, parallel neuroimaging workflows (Tara Madhyastha) </td>
        <td>Project presentations</td>
      </tr>
      <tr>
        <td>Evening</td>
        <td>Arrival and check in</td>
        <td>6 PM: Welcome reception</td>
        <td>Hackathon sessions <br> (DSS remains open until 11 PM)</td>
        <td>Hackathon sessions <br> (DSS remains open until 11 PM)</td>
        <td>6 PM: Seattle outing</td>
        <td>6 PM: Farewell reception</td>
      </tr>
    </tbody>
  </table>
</div>
    </section>
