    <!-- Section -->

    <section id="schedule" class="container content-section text-center">
      <div class="table">
        <h2>Schedule</h2>
        <small>
        <p></p>
      <table class="table-bordered">
        <thead align="center">
      <tr align="center">
        <th align="center">Time</th>
        <th align="center">Monday</th>
        <th align="center">Tuesday</th>
        <th align="center">Wednesday</th>
        <th align="center">Thursday</th>
        <th align="center">Friday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Morning</td>
        <td>
          <a href="https://neurohackweek.github.io/introduction-to-nhw/">9 AM: Introduction to Neurohackweek </a>(Ariel Rokem)<br>
          11 AM: Data Science tools (tutorials)
        </td>
        <td>
          9 AM: <a href="https://github.com/tyarkoni/slides/blob/master/Yarkoni_OpenScience_HackRoom_OHBM2016.pdf">Surviving and thriving as an open scientist </a>(Tal Yarkoni) <br>
          11 AM: <a href="https://github.com/neurohackweek/NI_cloud_computing">Using cloud computing for neuroimaging <br>(Cameron Craddock)</a>
          <br>
        </td>
        <td>
          9 AM: <a href="https://neurohackweek.github.io/image-processing/">Image processing</a> (Ariel Rokem)<br>
          11 AM: <a href="{{site.url}}/nhw2016/img/Yeatman_Neurohack_20160907.pdf">Quantitative and diffusion MRI modeling of developmental data</a> (Jason Yeatman)
        </td>
        <td> 9 AM: <a href="{{site.url}}/nhw2016//img/Kay_Neurohackweek2016_ModelingfMRIData.pdf">Modeling fMRI data </a> (Kendrick Kay) (<a href="https://youtu.be/Lx1CwMOK3Lk">video</a>) <br>
            10 AM: <a href="https://github.com/jakevdp/sklearn_tutorial/">Machine learning with scikit-learn </a>(Jake Vanderplas)</td>
        <td>9 AM: <a href="{{site.url}}/nhw2016/img/ReproducibilityInNeuroimaging_Sept2016_Neurohackweek.pdf">Improving the Reproducibility of Neuroimaging Research </a>(Russ Poldrack) (<a href="https://youtu.be/ypTw9isZFrg">video</a>)<br>
          10 AM: <a href="https://youtu.be/N4s7ZkVJWOQ">Reproducible research pipelines </a> (Chris Gorgolewski and Satra Ghosh) (<a href="https://youtu.be/N4s7ZkVJWOQ">video</a>)</td>
      </tr>
      <tr>
        <td>Afternoon</td>
        <td> Data science tools <br>
          <a href="https://neurohackweek.github.io/advancedunix/">
            Advanced Unix and Make</a><br>
          <a href="https://neurohackweek.github.io/cython-tutorial">
            Cython</a><br>
          <a href="https://youtu.be/dm2fNal3jdc">Python tips and tricks (video)</a><br>
          <a href="https://youtu.be/wAATYzn8O54">Docker (video)</a><br>
          <a href="https://youtu.be/BSrQDt9ow-M">Modular software design (video)</a><br>
          <a href="https://youtu.be/iXpneR3FcF0">Spark (video)</a><br>
          <a href="https://neurohackweek.github.io/python-for-programmers/">Python</a><br>
          <a href="https://github.com/neurohackweek/git-and-github">Git and Github</a>
        </td>
        <td> 1 PM: Team project pitches <br>
            2 PM - 6 PM Team projects <br>
            4 PM: Breakout session: <a href="https://www.youtube.com/watch?v=4ccjScoDu_I">Data-sets from the Allen Institute for Brain Science</a>(Terri Gilbert)<br>
            <a href="https://www.youtube.com/watch?v=5-gd5lrcuHk">Integrating AIBS data-sets in MRI analysis </a> (Kirstie Whitaker)<br>
            </td>
        <td>1 PM - 6 PM: Team projects <br>
          3 PM: Breakout session: <a href="https://youtu.be/I_MPVcmkis4">Allen Institute for Brain Science: RNA seq data sets</a> (Jeremey Miller) <br>
          4 PM: Breakout session: <a href="https://youtu.be/dlWSa3Ftsfw">Advanced time-series analysis</a> (Bing Brunton)
        </td>
        <td>1 PM - 6 PM: Team projects <br>
            3 PM: <a href="https://www.youtube.com/watch?v=4obqfkgI_jc">Lightning talks</a>
            4 PM: Breakout session: <a href="https://www.youtube.com/watch?v=rTfyctDUce0&list=PLEdFhTRBFLObkatJOX9wp3BCueH4wNSl7&index=9">Using GNU Make for reproducible, parallel neuroimaging workflows </a>(Tara Madhyastha) </td>
        <td>Project presentations</td>
      </tr>
      <tr>
        <td>Evening</td>
        <td>6 PM: Welcome reception</td>
        <td>Hackathon sessions <br> (DSS remains open until 11 PM)</td>
        <td>Hackathon sessions <br> (DSS remains open until 11 PM)</td>
        <td>6 PM: Seattle outing</td>
        <td>6 PM: Farewell reception</td>
      </tr>
    </tbody>
  </table>
</div>
</small>
    </section>
